<div style="height:390px;">
    <form action="" id='form' method="POST">
        <TEXTAREA type="text" id='params' name='params' value=''></TEXTAREA>
        <!-- <input type="file" value='export' id="params_export" onchange='javascipt:exportParams(this);' /> -->
        <input type="submit" value='Submit' id="params_submit" onclick='javascipt:updatedInput();' />
    </form>
</div>

<style>
    #params {
        width: 800px;
        height: 330px;
        font-size: 16px;
        padding: 20px;
    }

    #params_submit {
        float: right;
        width: 220px;
        margin: 10px 20px;
        font-size: 30;
    }

    #params_export {
        float: right;
        width: 220px;
        margin: 10px 20px;
        font-size: 30;
    }
</style>

<script>
    document.getElementById("form").setAttribute('action', location.href);
    var cookie_params = decodeURI(getCookie('params'));
    if (cookie_params != "null") {
        document.getElementById("params").value = formatJson(cookie_params);
    } else {
        document.getElementById("params").value = formatJson(JSON.parse(initStartParamsString()));
    }

    document.getElementById("form").setAttribute('action', location.href);

    function updatedInput() {
        setCookie('params', encodeURI(document.getElementById("params").value));
        var update_that = document.getElementById("params").value.replace("\n", '');
        document.getElementById("params").value = update_that;
    }
    // function exportParams(file) {
    //     var file_path = file.value;
    //     if (file_path == '') return;

    //     var fileExt = file_path.substring(file_path.lastIndexOf(".")).toLowerCase();
    //     if (!checkFileExt(fileExt)) {
    //         alert("File is not txt!");
    //         file.value = "";
    //         return;
    //     }
    //     // var fso = new ActiveXObject(Scripting.FileSystemObject);
    //     // var f = fso.createtextfile(file_path, 2, true);
    //     // f.writeLine(decodeURI(getCookie('params')));
    //     // f.close();
    //     var bb = new BlobBuilder;
    //     bb.append(decodeURI(getCookie('params')));
    //     saveAs(bb.getBlob('text/plain;charset=utf-8'), file_path);
    //     alert("Save Done!");
    // }
    // function checkFileExt(ext) {
    //     if (!ext.match(/.txt/i)) {
    //         return false;
    //     }
    //     return true;
    // }

    // var BlobBuilder = BlobBuilder || WebKitBlobBuilder || MozBlobBuilder;
    // var URL = URL || webkitURL || window;
    // function saveAs(blob, filename) {
    //     var type = blob.type;
    //     var force_saveable_type = 'application/octet-stream';
    //     if (type && type != force_saveable_type) { // 强制下载，而非在浏览器中打开
    //         var slice = blob.slice || blob.webkitSlice || blob.mozSlice;
    //         blob = slice.call(blob, 0, blob.size, force_saveable_type);
    //     }
    //     var url = URL.createObjectURL(blob);
    //     var save_link = document.createElementNS('http://www.w3.org/1999/xhtml', 'a');
    //     save_link.href = url;
    //     save_link.download = filename;
    //     var event = document.createEvent('MouseEvents');
    //     event.initMouseEvent('click', true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
    //     save_link.dispatchEvent(event);
    //     URL.revokeObjectURL(url);
    // }

</script>