<form action='' method= 'POST' id='search_form'> 
<div>
    <span><input type="text" name="search"><input value='search' type="submit"/></span>
</div>
</form>

<form action='' method= 'POST' id='href_form'> 
    <div style="display:none;">
        <span><input name="go_href_set" id="go_href_set"><input value='search' type="submit" id="href_submit"/></span>
    </div>
    </form>

<style>

    div{
        font-size:40px;
    }

    a{
        text-decoration-line: none;
        color: blue;
    }

    .data_class{   
        margin: 14px 0;
    }
    input{
        margin: 10px;
    }

    input[name=search]{
        width: 340px;
        height: 50px;
        font-size: 40px;
    }

    input[type=submit]{
        width: 140px;
        font-size: 40px;
        text-align: center;
        line-height: 40px;
    }

</style>
    

<script>
    function on_href_click(href){
        document.getElementById('go_href_set').value = href;
        document.getElementById('href_submit').click();
    }


document.getElementById("search_form").setAttribute('action', location.href);
document.getElementById("href_form").setAttribute('action', location.href);
</script>
