<form action='' method= 'POST' id='search_form'> 
<div>
    <span><input type="text" name="search"><input value='search' type="submit"/></span>
</div>
</form>

<style>

    div{
        font-size:40px;
    }

    a{
        text-decoration-line: none;
        color: blue;
    }

    .data_class{   
        margin: 14px 0;
    }
    input{
        margin: 10px;
    }

    input[name=search]{
        width: 340px;
        height: 50px;
        font-size: 40px;
    }

    input[type=submit]{
        width: 140px;
        font-size: 40px;
        text-align: center;
        line-height: 40px;
    }

</style>
    

<script>


document.getElementById("search_form").setAttribute('action', location.href);

</script>
